
  /* CSS goes here. */
  .subunit.SCT { fill: #ddc; }
  .subunit.WLS { fill: #cdd; }
  .subunit.NIR { fill: #cdc; }
  .subunit.ENG { fill: #dcd; }
  .subunit.IRL { fill: #ccd; }
  /*.subunit.IRL { display: none; }*/
  .place-label { font-size: 9px }
  .place { 
    font-color: gray;
  }
  .subunit-label {
    fill: #777;
    fill-opacity: .5;
    font-size: 20px;
    font-weight: 300;
    text-anchor: middle;
  }
  .subunit-boundary {
    fill: none;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
  }

  .subunit-boundary.IRL {
    stroke: #aaa;
  }

